# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build files
build
dist
.next
out

# Environment files
.env
.env.local
.env.*.local

# IDE and Editor files
.idea
.vscode
*.swp
*.swo
.DS_Store

# Test coverage
coverage

# Git
.git
.gitignore

# Misc
README.md
*.log
.npm
.eslintcache 